<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
    <!-- spring线程池开启-->
    <task:executor id="executor" pool-size="3-10" queue-capacity="30"/>
    <!-- 任务调度-->
    <task:scheduler id="scheduler" pool-size="10"/>
    <!-- 开启任务-->
    <task:annotation-driven scheduler="scheduler" executor="scheduler" proxy-target-class="true"/>
</beans>